services:
  - type: web
    name: gweasy
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app -k uvicorn.workers.UvicornWorker -w 2 --bind 0.0.0.0:$PORT
    autoDeploy: true
